body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Comic Sans als Schriftart */
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Beige Hintergrundfarbe */
    color: #49516f; /* Dunkelgrau für den Text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

header {
    background-color: #688b58; /* Erdig grüner Hintergrund für den Header */
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Header-Inhalt horizontal ausrichten */
    align-items: center;
    padding-right: 30px; /* Etwas Abstand für das Logo */
}

h1 {
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #8ea4d2; /* Hellblau für das Logo */
    text-decoration: none;
    font-weight: bold;
}

.logo:hover {
    color: #6279b8; /* Dunkleres Blau beim Hover */
}

.game-selection {
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umbrücken von Elementen */
    gap: 20px;
    justify-content: center; /* Horizontale Zentrierung */
    margin-top: 20px;
}

.game-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    width: 250px; /* Fixierte Breite der Spielkarten */
    flex: 1 1 30%; /* Jede Karte nimmt 30% der Breite ein, maximal 3 Karten nebeneinander */
}

.game-card:hover {
    transform: scale(1.05); /* Zoom-Effekt beim Hover */
    background-color: #8ea4d2; /* Sanftes Blau beim Hover */
    color: white;
}

h2 {
    margin: 0;
    color: #49516f; /* Dunkelgrau für die Überschrift */
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #8ea4d2; /* Sanftes Blau für den Link */
    font-weight: bold;
}

footer a:hover {
    color: #6279b8; /* Dunkleres Blau beim Hover */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
